torch
git+https://github.com/huggingface/transformers.git
accelerate
datasets
einops
tqdm
matplotlib
pandas
numpy
sentencepiece
protobuf
litellm
python-dotenv
scikit-learn
jaxtyping
transformers_stream_generator

torchvision
seaborn
